<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laboursapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaboursApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".openingscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LabourAppliedJobs"
            android:exported="true" />
        <activity
            android:name=".LabourSearchWorkActivity"
            android:exported="true" />
        <activity
            android:name=".LabourProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LabourDashBoardActivity"
            android:exported="true" />
        <activity
            android:name=".ContractorSeeRequestsActivity"
            android:exported="true" />
        <activity
            android:name=".ContractorSeeWorkActivity"
            android:exported="true" />
        <activity
            android:name=".ContractorAddWorkActivity"
            android:exported="true" />
        <activity
            android:name=".ContractorProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ContractorDashBoardActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>